<h1><%= t(:add_option_value) %></h1>

<%= form_for(@option_type, url: admin_product_option_type_path(@master_variant, @option_type), html: {role: 'form'}) do |f| %>
  <div class='form-group'>
    <%= f.label :name, t(:name) %><br />
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <table class='table table-striped table-hover table-condensed'>
    <tr>
      <th></th>
      <th></th>
    </tr>
    <% @product_option_values.each do |option_value| %>
    <tr>
      <td><%= option_value.descriptive_name %></td>
      <td><%#= link_to 'Destroy', admin_option_value_path(@option_type, option_value), method: :delete, data: { confirm: t(:are_sure) } %></td>
    </tr>
    <% end %>
  </table>

  <%= f.fields_for :option_value do |p| %>
    <div class='form-group'>
      <%= p.label :id, t(:option_value) %><br />
      <%= p.select :id, options_from_collection_for_select(@option_type.option_values, 'id', 'descriptive_name'), include_blank: true, class: 'form-control' %>
    </div>
  <% end %>
  <div class='actions'>
    <%= f.submit %>
  </div>
<% end %>