<%= form_for(@order, html: {role: 'form'}) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.fields_for :address do |p| %>
    <div class="form-group">
      <%= p.label :firstname, t(:firstname) %><br />
      <%= p.text_field :firstname, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= p.label :lastname, t(:lastname) %><br />
      <%= p.text_field :lastname, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= p.label :company, t(:company) %><br />
      <%= p.text_field :company, class: 'form-control' %>
    </div>    
    <div class="form-group">
      <%= p.label :address, t(:address) %><br />
      <%= p.text_field :address, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= p.label :city, t(:city) %><br />
      <%= p.text_field :city, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= p.label :zipcode, t(:zipcode) %><br />
      <%= p.text_field :zipcode, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= p.label :country, t(:country) %><br />
      <%= p.text_field :country, class: 'form-control' %>
    </div>
  <% end %>
    <div class="form-group">
      <%= f.label :card_type, t(:card_type) %><br />
      <%= f.select :card_type, [["Visa", "visa"], ["MasterCard", "master"], ["American Express", "american_express"]], class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :card_number, t(:card_number) %><br />
      <%= f.text_field :card_number, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :card_verification, t(:cvv) %><br />
      <%= f.text_field :card_verification, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :card_expires_on, t(:card_expires_on) %><br />
      <%= f.date_select :card_expires_on, :discard_day => true, :start_year => Date.today.year, :end_year => (Date.today.year+10), :add_month_numbers => true, class: 'form-control' %>
    </div>
  <div class="actions">
    <%= f.submit t(:save),  class: 'btn btn-primary' %>
    <%= link_to t(:cancel), admin_products_path(I18n.locale), class: 'btn btn-link' %>
  </div>
<% end %>
