<table class="table table-condensed">
  <tr>
    <td><strong><%= t(:firstname) %></strong></td>
    <td><%= @order.address.firstname %></td>
  </tr>
  <tr>
    <td><strong><%= t(:lastname) %></strong></td>
    <td><%= @order.address.lastname %></td>
  </tr>
  <tr>
    <td><strong><%= t(:company) %></strong></td>
    <td><%= @order.address.company %></td>
  </tr>
  <tr>
    <td><strong><%= t(:address) %></strong></td>
    <td><%= @order.address.address %></td>
  </tr>
  <tr>
    <td><strong><%= t(:city) %></strong></td>
    <td><%= @order.address.city %></td>
  </tr>
  <tr>
    <td><strong><%= t(:zipcode) %></strong></td>
    <td><%= @order.address.zipcode %></td>
  </tr>
  <tr>
    <td><strong><%= t(:country) %></strong></td>
    <td><%= @order.address.country %></td>
  </tr>
</table>