<%= form_for(@variant, :url => @path, html: {role: 'form'}) do |f| %>
  <% if @variant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@variant.errors.count, "error") %> prohibited this variant from being saved:</h2>

      <ul>
      <% @variant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :sku, t(:sku) %><br />
    <%= f.text_field :sku, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :price, t(:price) %><br />
    <%= f.text_field :price, class: 'form-control' %>
  </div>
  <% unless @master_variant.product.option_types.empty? %>
    <table class='table table-striped table-hover table-condensed'>
      <tr>
        <th><%= t(:option_type) %></th>
        <th></th>
      </tr>
      <% @master_variant.product.option_types.each do |option_type| %>
      <tr>
        <td><%= link_to option_type.name, edit_admin_product_variant_option_value_path(@master_variant, @variant.id, option_type) %></td>
        <td><%#= link_to 'Destroy', admin_option_value_path(@option_type, option_value), method: :delete, data: { confirm: t(:are_sure) } %></td>
      </tr>
      <% end %>
    </table>
  <% end %>

  <div class="actions">
    <%= f.submit t(:save), class: 'btn btn-primary' %>
    <%= link_to t(:cancel), @cancel_path, class: 'btn btn-link' %>
  </div>
<% end %>