<h1><%= t(:listing_variants) %></h1>

<p><%= t(:product) %>: <%= link_to @master_variant.product.name, admin_product_path(@master_variant) %></p>
<p><%= t(:description) %>: <%= @master_variant.product.description %>

<table class="table table-striped table-hover">
  <tr>
    <th class="hidden-xs"><%= t(:sku) %></th>
    <th><%= t(:image) %></th>
    <th><%= t('admin.products.name') %></th>
    <th><%= t(:price) %></th>
    <th class="hidden-xs"></th>
  </tr>

<% @variants.each do |variant| %>
  <tr>
    <td class="hidden-xs"><%= variant.sku %></td>
    <td><%= image_tag variant.images.first.image_url(:icon).to_s unless variant.images.empty? %>
    <td><%= link_to variant.product.name,
              edit_admin_product_variant_path(I18n.locale, variant.master_id, variant), class: 'btn btn-link' %></td>
    <td><%= number_to_currency(variant.price, locale: I18n.locale) %></td>
    <td class="hidden-xs">
      <%= link_to '', edit_admin_product_variant_path(I18n.locale, variant.master_id, variant),
            :class=>'glyphicon glyphicon-edit btn btn-link' %>&nbsp;
      <%= link_to '', admin_product_variant_path(I18n.locale, variant.master_id, variant), method: :delete,
            data: { confirm: t(:are_sure) }, :class => 'glyphicon glyphicon-trash btn btn-link' %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to new_admin_product_variant_path(I18n.locale, @master_variant), :class => 'btn btn-primary' do %>
  <span class='glyphicon glyphicon-plus'></span> <%= t(:new_variant) %>
<% end %>
