<%= render 'shared/vertical_navbar' %>

<div class='shifted-content'>
  <h1><%= @variant.product.name %></h1>

  <div class='row'>
    <div class='col-lg-4'>
      <%= render 'image_gallery' %>
    </div>
    <div class='col-lg-offset-2 col-lg-4'>
      <h2><%= t(:price) %>: <%= number_to_currency(@variant.price, locale: I18n.locale) %></h2>
      <% unless @variants.empty? %>
        <h4><%= t(:variants) %></h4>
        <% @variants.each do |variant| %>
          <%= link_to image_tag(variant.preview_image.image_url(:icon), class:'img-responsive img-thumbnail'), product_path(variant) unless variant.preview_image.nil? %>
        <% end %><br/>
      <% end %><br/><br/>
      <%= form_tag(line_items_path(variant_id: @variant.id)) do %>
        <%= form_for :option_types do |f| %>
            <% @options.each_key do |option_type| %>
              <% unless option_type.nil? %>
                <% if @options[option_type].count > 1 %>
                  <%= option_type.name unless option_type.nil? %><br/>
                  <%= select_tag "option_values[#{option_type.id}]", options_from_collection_for_select(@options[option_type], 'id', 'name') %><br/><br/>
                <% end %>
              <% end %>
            <% end %>
          <div>
            <%= submit_tag t(:add_to_cart), class: 'btn btn-success btn-lg' %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class='row'>
    <div class='col-lg-6'>
      <h4><%= @variant.product.name %></h4>
      <p>
        <%= @variant.product.description %>
      </p>
    </div>
  </div>
</div>