<h1><%= @variant.product.name %></h1>

<div class='row'>
  <div class='col-lg-4'>
    <%= render 'image_gallery' %>
  </div>
  <div class='col-lg-offset-2 col-lg-4'>
    <h2><%= t(:price) %>: <%= number_to_currency(@variant.price, locale: I18n.locale) %></h2>
    <% unless @variants.empty? %>
      <h4><%= t(:variants) %></h4>
      <% @variants.each do |variant| %>
        <%= link_to image_tag(variant.preview_image.image_url(:icon), class:'img-responsive img-thumbnail'), product_path(variant) unless variant.preview_image.nil? %>
      <% end %><br/>
    <% end %><br/><br/>
    <%= link_to t(:add_to_cart), '', class: 'btn btn-success btn-lg' %>
  </div>
</div>
<div class='row'>
  <div class='col-lg-6'>
    <h4><%= @variant.product.name %></h4>
    <p>
      <%= @variant.product.description %>
    </p>
  </div>
</div>