<%= form_for(@master_variant, url: @path, html: {role: 'form'}) do |f| %>
  <% if @master_variant.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@master_variant.errors.count, "error") %> prohibited this product from being saved:</h3>
      <ul>
      <% @master_variant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.fields_for :product do |p| %>
    <div class="form-group">
      <%= p.label :name, t('admin.products.name') %><br />
      <%= p.text_field :name, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= p.label :description, t(:description) %><br />
      <%= p.text_field :description, class: 'form-control' %>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :sku, t(:sku) %><br />
    <%= f.text_field :sku, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :price, t(:price) %><br />
    <%= f.text_field :price, class: 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit t(:save),  class: 'btn btn-primary' %>
    <%= link_to t(:cancel), admin_products_path, class: 'btn btn-link' %>
  </div>
<% end %>