<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @variant.product.name %>
</p>

<p>
  <b>Description:</b>
  <%= @variant.product.description %>
</p>

<p>
  <b>SKU:</b>
  <%= @variant.sku %>
</p>

<%= link_to 'Edit', edit_admin_product_path(@variant) %> |
<%= link_to 'Back', admin_products_path %>
