<h1><%= t(:listing_product_images) %></h1>
<div class="row">
  <div class="col-lg-5">
    <table class="table table-striped table-hover table-bordered">
      <tr>
        <th><%= t(:thumbnail) %></th>
        <th><%= t(:alternative_text) %></th>
        <th class='actions'></th>
      </tr>

      <% @variants.each do |variant| %>
        <% variant.images.each do |image| %>
          <tr>
            <td><%= image_tag image.image_url(:thumb) %></td>
            <td><%= image.alternative_text %></td>
            <td class='actions'>
              <%= link_to '', edit_admin_product_variant_image_path(variant.master_id, variant, image),
                :class=>'glyphicon glyphicon-edit btn btn-link' %>&nbsp;
              <%= link_to '', admin_product_variant_image_path(variant.master_id, variant, image),
                    method: :delete, data: { confirm: t(:are_sure) },
                    class: 'glyphicon glyphicon-trash btn btn-link' %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </table>
    <%= link_to new_admin_product_image_path(@master_variant), :class => 'btn btn-primary' do %>
      <span class='glyphicon glyphicon-plus'></span> <%= t(:add_image) %>
    <% end %>    
  </div>
  <div class="col-lg-offset-4 col-lg-3">
    <%= render 'admin/shared/products_menu' %>
    <%= render 'images_menu' %>
  </div>
</div>
