<h1>Listing products</h1>

<table>
  <tr>
    <th>SKU</th>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @variants.each do |variant| %>
  <tr>
    <td><%= variant.sku %></td>
    <td><%= variant.product.name %></td>
    <td><%= variant.product.description %></td>
    <td><%= link_to 'Show', product_path(variant) %></td>
    <td><%= link_to 'Edit', edit_product_path(variant) %></td>
    <td><%= link_to 'Destroy', product_path(variant), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Product', new_product_path %>
