<h1>Listing admin_option_types</h1>

<table class='table table-striped table-hover'>
  <tr>
    <th><%= t(:name) %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @option_types.each do |option_type| %>
  <tr>
    <td><%= link_to option_type.name, edit_admin_option_type_path(option_type) %></td>
    <td><%= link_to 'Show', admin_option_type_path(option_type) %></td>
    <td><%= link_to 'Edit', edit_admin_option_type_path(option_type) %></td>
    <td><%= link_to 'Destroy', admin_option_type_path(option_type), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Option type', new_admin_option_type_path %>
