<!DOCTYPE html>
<html>
<head>
  <title>Store</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
</head>
<body>

<wrapper>
  <div id="header">
  </div>
  <%= render 'shared/vertical_navbar' %>
  <%= render 'layouts/navbar' %>
  <div class="clearfix"></div>
  <div class="content">
    <div class="container">
      <%= yield %>
    </div>
  </div>
  <div id="footer">
  </end>
<wrapper>
</body>
</html>
